/* This is the general page styling. This is the visual setting that applies to the whole web page.
This controls Fonts, Background, colour, margins, and everything else tied to appearence.*/

body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    margin: 0;
}

/* this limits how wide the page can strech across the screen */

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* This is the Main title */

h1 {
    color: #3c8c1e;
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
}

/* Section titles are used to organise and introduce parts of the content found on the webpage */

h2 {
    color: #3c8c1e;
    font-size: 36px;
    margin-top: 40px;
}

/* Paragraph styling */

p {
    line-height: 1.6;
}

/* Highlights boxes with content on the webpage */

.fact-box {
    background-color: #3c8c1e;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

/* Did you know title */

.fact-box h3 {
    margin-top: 0;
}