/* The page styling */
body {
    font-family: Georgia, serif;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

/* Main page wrapper size */
main {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}

/* the header styling */
header {
    text-align: center;
    padding: 10px 0 20px 0;
}

header h1 {
    font-size: 72px;
    margin: 0 0 20px 0;
}

/* Styling for the Navigation */
nav a {
    margin: 0 40px;
    color: blue;
    text-decoration: underline;
    font-size: 16px;
}

/* Intro area */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin: 10px 0 30px 0;
}

/* Text area */
.intro-text {
    width: 520px;
    font-size: 18px;
    line-height: 1.35;
}

.intro-text p {
    margin: 0 0 28px 0;
}

/* Right image */
.intro-image img {
    width: 430px;
    height: 430px;
    object-fit: cover;
    display: block;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

/* Gallery layout */
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

/* All gallery with the same size and no gap between them */
.gallery img,
.gallery video {
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

/* Ewidth for the gallery video & images */
.gallery video {
    width: 606px;
}

.gallery img:nth-of-type(1) {
    width: 394px;
}

.gallery img:nth-of-type(2) {
    width: 355px;
}

.gallery img:nth-of-type(3) {
    width: 645px;
}

.gallery img:nth-of-type(4) {
    width: 640px;
}

.gallery img:nth-of-type(5) {
    width: 360px;
}